.footer {
    

    margin: 20px auto 0;
    padding: 30px 25px;

    border-radius: 30px 30px 0 0;
    max-width: 1110px;
    height: 149px;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footerRowLinks {
    display: flex;
    flex-direction: column;
}

.link {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    color: #000;
}


.languages{
    margin-top: 35px;
    display: flex;
    gap: 17px;
}

.footerRowSocials{
    display: flex;
    align-items: center;
    gap: 18px;
}

.service{
    color: #000;
}