.list {
    max-width: 1150px;
    margin: 28px auto 0;
    padding: 0 20px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    color: #838383;
    margin-top: 28px;
    margin-bottom: 20px;
}
