.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1110px;
    height: calc(100vh - 208px);
    margin: 0 auto;
}

.title {
    font-size: 48px;
}

.text {
    font-size: 32px;
}
